# Nesta atividade são realizadas algumas interações em uma base de dados.
1 - Carregamento dos dados de um arquivos CSV

2 - Remoção de algumas colunas

3 - Alguma operações de consulta

In [1]:
from pyspark.sql import SparkSession
sparkCtx = SparkSession.builder.appName('Exercise').getOrCreate()

24/04/26 17:49:40 WARN Utils: Your hostname, willians-desktop resolves to a loopback address: 127.0.1.1; using 192.168.1.73 instead (on interface enp1s0)
24/04/26 17:49:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/26 17:49:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/04/26 17:49:44 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [20]:
df = sparkCtx.read.csv('food-price-index-september-2023-weighted-average-prices.csv', inferSchema=True, header=True)

In [21]:
df.printSchema()

root
 |-- Series_reference: string (nullable = true)
 |-- Period: double (nullable = true)
 |-- Data_value: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- UNITS: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Series_title_1: string (nullable = true)

In [22]:
df.columns

['Series_reference',
 'Period',
 'Data_value',
 'STATUS',
 'UNITS',
 'Subject',
 'Group',
 'Series_title_1']

In [23]:
new_columns = [
        'Series_reference',
        'Period',
        'Data_value',
        'STATUS',
        'Series_title_1'
    ]
df = df.select(new_columns)
df.columns

['Series_reference', 'Period', 'Data_value', 'STATUS', 'Series_title_1']

In [24]:
df.printSchema()

root
 |-- Series_reference: string (nullable = true)
 |-- Period: double (nullable = true)
 |-- Data_value: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- Series_title_1: string (nullable = true)

In [39]:
df.filter('Data_value > 40').show()

+----------------+-------+----------+------+---------------+
|Series_reference| Period|Data_value|STATUS| Series_title_1|
+----------------+-------+----------+------+---------------+
|    CPIM.SAP0190| 2022.1|      41.1| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2022.11|     41.99| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2022.12|     41.86| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2023.01|     42.58| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2023.02|     42.52| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2023.03|     42.07| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2023.04|     42.75| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2023.05|     42.58| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2023.06|     43.04| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2023.07|     43.44| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2023.08|     43.34| FINAL|Fresh fish, 1kg|
|    CPIM.SAP0190|2023.09|     43.51| FINAL|Fresh fish, 1kg|
+----------------+-------+----------+------+---------------+

In [54]:
df.filter((df['Data_value'] > 40) & (df['Period'] == 2022.12)).show()

+----------------+-------+----------+------+---------------+
|Series_reference| Period|Data_value|STATUS| Series_title_1|
+----------------+-------+----------+------+---------------+
|    CPIM.SAP0190|2022.12|     41.86| FINAL|Fresh fish, 1kg|
+----------------+-------+----------+------+---------------+

In [55]:
rows = df.filter((df['Data_value'] > 40) & (df['Period'] == 2022.12)).collect()
rows[0].asDict()

{'Series_reference': 'CPIM.SAP0190',
 'Period': 2022.12,
 'Data_value': '41.86',
 'STATUS': 'FINAL',
 'Series_title_1': 'Fresh fish, 1kg'}

In [65]:
df_values = df.select(['Data_value', 'Period'])
df_values.groupBy('Period').max().show()

+-------+-----------+
| Period|max(Period)|
+-------+-----------+
|2019.05|    2019.05|
|2008.09|    2008.09|
|2019.06|    2019.06|
|2009.05|    2009.05|
|2011.12|    2011.12|
|2022.03|    2022.03|
|2022.12|    2022.12|
|2009.09|    2009.09|
|2010.01|    2010.01|
| 2014.1|     2014.1|
| 2011.1|     2011.1|
|2012.06|    2012.06|
|2019.01|    2019.01|
|2013.08|    2013.08|
|2018.01|    2018.01|
|2007.04|    2007.04|
|2016.01|    2016.01|
|2019.12|    2019.12|
|2015.05|    2015.05|
|2008.12|    2008.12|
+-------+-----------+
only showing top 20 rows